<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="value" value="10"/>
    <add key="nested:One" value="1"/>
    <add key="nested:Two" value="2"/>
    <add key="nested:Foo:Bar" value="2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>